{%load static%}

<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6-IDUM</title>
    <link rel="stylesheet" href="{% static './css/6-IDUM.css' %}">
</head>
<body>
<div class="container">
    <nav>
        <img src="{% static 'images/6logo.png'%}" class="logo">
    <ul>
        <li><a href="{% url 'homePage' %}">Home</a></li>
        <li><a href="{% url 'aboutPage' %}">About us</a></li>
        <li><a href="{% url 'blogPage' %}">Blog</a></li>
        <li><a href="{% url 'contactPage' %}">Contact</a></li>
    </ul>
    </nav>
</div>
<footer class="footer_section">
    <div class="container11">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://instagram.com/m._.nazarbek/" target="_blank">Nazarbek Matyoqubov</a>
      </p>
    </div>
</footer>
</body>
</html>
